@{
    Layout = "~/Views/_Layout.cshtml";
}
@section Header
{
    Прост в использовании!
}
@section Footer
{
    Продолжение следует...
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculator</title>
</head>

<body>
    <script type="text/javascript">
        $(document).ready(function () {
            var output = "0";
            var lastExpression = "0";
            var resultValue = "0";
            var outputLine = $('output#outputStile');
            var lastExpressionLine = $('output#lastExpression');
            var rightside = $('#rightside');

            outputLine.val(output);
            lastExpressionLine.val(lastExpression);

            var simbolsBtn = $('input:submit:not(#result, #Del, #AC)');
            simbolsBtn.click(function () {
                if (output == resultValue) {
                    output = "";
                }
                output += $(this).val();

                if (!CheckCharAmount(output, 12)) {
                    outputLine.val(output);
                }
            });

            var acBtn = $('input:submit#AC');
            acBtn.click(function () {
                output = "0";
                lastExpression = "0";
                resultValue = "0";
                outputLine.val(output);
                lastExpressionLine.val(lastExpression);
            });

            var resultBtn = $('input:submit#result');
            resultBtn.click(function () {
                lastExpression = output;
                lastExpressionLine.val(lastExpression);

                $.post('/Calculator/GetResult', { "expression": output })
                    .done(function (result) {
                        outputLine.val(result);
                        resultValue = result;
                        output = result;
                    });

                $.post('/Calculator/GetOperations').done(
                    function (view) {
                        rightside.html(view);
                    });
            });

            var delBtn = $('input:submit#Del');
            delBtn.click(function () {
                //output = output.la;
                outputLine.val(output);
            });

        });

        function CheckCharAmount(string, maxCharNumbers) {
            return string.length > +maxCharNumbers;
        }
    </script>

    <script type="text/javascript">
        var buttonNames = ["(", ")", "DEl", "AC", "7", "8", "9", "/", "4", "5", "6", "*", "1", "2", "3", "-", "0", ".", "=", "+"];
    </script>

    <div>
        <div id="leftside">
            <div id="border">
                <output id="outputStile"></output>
            </div>
            <output id="lastExpression"></output>
            <table>
                <tr>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="(" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value=")" />
                    </td>
                    <td width="64" height="64">
                        <input id="Del" name="submitButton" type="submit" value="DEL" />
                    </td>
                    <td width="64" height="64">
                        <input id="AC" name="submitButton" type="submit" value="AC" />
                    </td>
                </tr>
                <tr>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="7" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="8" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="9" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="/" />
                    </td>
                </tr>
                <tr>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="4" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="5" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="6" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="*" />
                    </td>
                </tr>
                <tr>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="1" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="2" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="3" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="-" />
                    </td>
                </tr>
                <tr>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="0" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="." />
                    </td>
                    <td width="64" height="64">
                        <input id="result" name="submitButton" type="submit" value="=" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="+" />
                    </td>
                </tr>
            </table>
        </div>

        <div id="rightside"></div>
    </div>
</body>
</html>
