@model Calculator.Models.ResultViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
@section Header
{
    Прост в использовании!
}
@section Footer
{
    Продолжение следует...
}

<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculator</title>
</head>
<body>
    <div>
        <p>
            <div style="margin: 0 0 4px; border: 1px solid black; width:275px; height: 50px">
                <output name="outputLine" style="
                            height: 50px;
                          	width: 50px;
                           	border-radius: 2px;
                           	color: black;
                         	font-size: 40px;
                        	font-weight: bold; ">
                    @Model.OutputLine
                </output>
            </div>
            <output name="lastExpression">@Model.LastExpression</output>
            @using (Html.BeginForm("SetSymbol", "Calculator", FormMethod.Post))
            {
                <table>
                    <tr>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="(" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value=")" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="DEL" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="AC" />
                        </td>
                    </tr>
                    <tr>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="7" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="8" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="9" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="/" />
                        </td>
                    </tr>
                    <tr>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="4" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="5" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="6" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="*" />
                        </td>
                    </tr>
                    <tr>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="1" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="2" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="3" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="-" />
                        </td>
                    </tr>

                    <tr>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="0" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="." />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="=" />
                        </td>
                        <td width="64" height="64" valign="middle">
                            <input name="submitButton" type="submit" value="+" />
                        </td>
                    </tr>
                </table>
            }
        </p>
        <p>
            @Html.Partial("HistoryOperationsView", Model.OperationsHistory)
        </p>
    </div>
</body>
</html>
