@model ResultViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
    var history = new AjaxOptions
    {
        UpdateTargetId = "rightside",
        Url = Url.Action("GetOperations"),
    };
    var ajax = new AjaxOptions
    {
        UpdateTargetId = "outputStile",
        Url = Url.Action("SetSymbol"),
        
    };
}
@section Header
{
    Прост в использовании!
}
@section Footer
{
    Продолжение следует...
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculator</title>
</head>
<body>
    <div>
        <div id="leftside">
            <div>
                <output id="outputStile">
                    @Model.OutputLine
                </output>
            </div>
            <output name="lastExpression">@Model.LastExpression</output>

            @*@using (Html.BeginForm("SetSymbol", "Calculator", FormMethod.Post))*@
            @using (Ajax.BeginForm(ajax.))
            {
            <table>
                <tr>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="(" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value=")" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="DEL" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="AC" />
                    </td>
                </tr>
                <tr>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="7" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="8" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="9" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="/" />
                    </td>
                </tr>
                <tr>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="4" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="5" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="6" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="*" />
                    </td>
                </tr>
                <tr>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="1" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="2" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="3" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="-" />
                    </td>
                </tr>
                <tr>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="0" />
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="." />
                    </td>
                    <td width="64" height="64">
                        @using (Ajax.BeginForm(history))
                        {
                            <input name="submitButton" type="submit" value="=" />
                        }
                    </td>
                    <td width="64" height="64">
                        <input name="submitButton" type="submit" value="+" />
                    </td>
                </tr>
            </table>
            }
        </div>

        <div id="rightside"></div>
    </div>
</body>
</html>
