@model IEnumerable<Operation>

<div>
    <table>
        <thead>
            <tr>
                <td style=" border: 3px solid black">
                    Выражение = Результат
                </td>
            </tr>
        </thead>
        <tbody id="expressionsList">
            @foreach (var operation in Model)
            {
                <tr><td>@operation.Expression = @operation.Result</td></tr>
            }
        </tbody>

    </table>
</div>